name: CI

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest
    strategy:
      matrix:
        build_type: [Release, Debug]
    steps:
    - name: Checkout
      uses: actions/checkout@v2        
      with:
          fetch-depth: 0
    - name: Setup dotnet
      uses: actions/setup-dotnet@v1.8.2
      with:
        dotnet-version: '6.0.0'
    - name: Setup GitVersion
      uses: gittools/actions/gitversion/setup@v0.9.11
      with:
        versionSpec: '5.x'
    - name: Determine Version
      id:   gitversion
      uses: gittools/actions/gitversion/execute@v0.9.11
    - name: Install dependencies
      run: dotnet restore
    - name: Build ${{ matrix.build_type }}
      run: dotnet publish --configuration ${{ matrix.build_type }} /p:AssemblyVersion=${{ steps.gitversion.outputs.assemblySemVer }} /p:FileVersion=${{ steps.gitversion.outputs.assemblySemFileVer }} /p:InformationalVersion=${{ steps.gitversion.outputs.informationalVersion }}
    - name: Upload ${{ matrix.build_type }} artifact
      uses: actions/upload-artifact@v2
      with:
        name: MultiFunPlayer-${{ steps.gitversion.outputs.fullSemVer }}.Branch.${{ steps.gitversion.outputs.escapedBranchName }}.${{ matrix.build_type }}
        path: MultiFunPlayer\bin\${{ matrix.build_type }}\win-x64\publish
